@model tsui.Models.UserViewModel;
@{
    List<string> users = Model.UserIds;
}

@if (users.Count > 0)
{
    <div>
        We have users!
        <p>
            @foreach(var u in users)
                {
                    <ul>
                        <li><a href="/Users/@u">@u</a> <a href="/Users/@u/Delete" class="btn btn-sm btn-danger">Delete</a></li>
                    </ul>
                }
        </p>
    </div>
}

else
{
    <div>No users</div>
}
